.footer {
  height: 100px;
  padding: 10px;
  border-top: 2px solid #cccccc;
  color: #ffffff;
  background: #2d444d;
}

.footer a,
.footer span {
  color: #ffffff;
  font-size: 18px;
}

.github-wrapper {
  gap: 6px;
  display: flex;
  align-items: center;
}

.github-link {
  display: flex;
  flex-direction: column;
}

.year span {
  font-size: 20px;
}
