* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
  height: 100vh;
  font-family:
    Segoe UI,
    Roboto;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.MuiMenu-root ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #90bac7;
  padding: 4px;
}
